/*
Original design: andreas01 (v3.0 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas01/
*/

/* Main body */
body {background:#f4f4f4 url(img/bg.png) top center repeat-y; color:#404040; font:76% Verdana,Tahoma,Arial,sans-serif; margin:0 auto; padding:0}
#wrapper {background:#fff; color:#404040; margin:0 auto; width:760px}

/* Basic tags */
a {background-color:inherit; color:#286ea0; font-weight:700; text-decoration:none}
a:hover {background-color:inherit; color:#286ea0; text-decoration:underline}
a img {border:0}
p {margin:0 0 1.4em}

/* Header */
#header {margin:10px 0 0; padding:0}
#header h1 {float:left;background-color:inherit; color:#505050; font-size:2em; margin:0 0 10px; width:350px}
#header h1 a {background-color:inherit; color:#505050; text-decoration:none}
#header p {float:right;font-weight:700; line-height:1.3em; margin:0 0 10px;  text-align:right; width:300px}
#header #logo{float:left;margin:1em;border:none;background:transparent}

/*Left and right sidebar */
#sidebar-left {clear:left; float:left; margin:0 0 5px; padding:0; width:140px}
#sidebar-right {float:right; line-height:1.4em; margin:0 0 5px; padding:0; width:140px}
#sidebar-left p,#sidebar-left ul, #sidebar-right p,#sidebar-right ul {margin:0 0 16px; padding:0}
#sidebar-left p, #sidebar-right p {font-size:0.9em; line-height:1.4em}
#sidebar-left li, #sidebar-right li {line-height:1.2em; list-style:none; margin:0 0 6px; padding:0}
#sidebar-left ul ul, #sidebar-right ul ul {margin:6px 0 0 10px; padding:0}
#sidebar-left ul ul li, #sidebar-right ul ul li {margin:0 0 4px}
#sidebar-left ul ul li a, #sidebar-right ul ul li a {font-weight:400}
#sidebar-left h2,#sidebar-left h3, #sidebar-right h2,#sidebar-right h3 {color:#505050; font-size:1.2em; margin:0 0 8px; padding:0}

#sidebar-left .block{background-color:#f4f4f4; border-left:4px solid #ccc; clear:left; color:#505050; font-size:0.9em; line-height:1.5em; margin:10px 0 15px; padding:7px 5px 2px 5px; width:126px}
#sidebar-left .block p {margin:10px 0 0; padding:0}

/* Main menu */
#sidebar-left #block-menu-primary-links,#sidebar-right #block-menu-primary-links {background:none; border:none}
#sidebar-left #block-menu-primary-links ul, #sidebar-right #block-menu-primary-links ul {display:block; list-style:none; margin:0 0 18px 0; padding:0; width:140px}
#sidebar-left #block-menu-primary-links ul li, #sidebar-right #block-menu-primary-links ul li {display:inline; line-height:1.4em; padding:0; width:140px}
#sidebar-left #block-menu-primary-links ul li a, #sidebar-right #block-menu-primary-links ul li a {background-color:#f4f4f4; border-left:4px solid #ccc; color:#505050; float:left; font-weight:700; margin-bottom:5px; padding:5px 1px 5px 5px; text-decoration:none; width:130px}
#sidebar-left #block-menu-primary-links ul li a:hover,#sidebar-left #block-menu-primary-links ul li a.active, #sidebar-right #block-menu-primary-links ul li a:hover,#sidebar-right #block-menu-primary-links ul li a.active {background-color:#eaeaea; border-left:4px solid #286ea0; color:#505050}
#sidebar-left #block-menu-primary-links ul ul, #sidebar-right #block-menu-primary-links ul ul {font-size:0.9em; margin:0 0 0 15px; padding:0 0 5px; width:125px}
#sidebar-left #block-menu-primary-links ul ul a, #sidebar-right #block-menu-primary-links ul ul a {font-weight:400; padding:3px 1px 3px 5px; width:115px}
#sidebar-left #block-menu-primary-links ul ul ul, #sidebar-right #block-menu-primary-links ul ul ul {width:113px}
#sidebar-left #block-menu-primary-links ul ul ul a, #sidebar-right #block-menu-primary-links ul ul ul a {width:100px}

#container{clear:both}
/* Main center */
#center { line-height:1.5em; padding:0 10px}
#center h2{font-size:1.6em; margin:0 0 10px}
#center h2,#center h3,#center a{color:#404040}
#center h3{font-size:1.3em; margin:0 0 8px}
#center img{background:#ccc; border:4px solid #f0f0f0; color:#303030; display:inline; padding:1px}
#center ul,ul,#center ol{margin:0 0 16px 20px; padding:0}
#center li {margin:0; padding:0 0 0 5px}
#center ul ul,#center ol ol {margin:0 0 0 16px; padding:0}

/* 2 columns - sidebar-left */
body.sidebar-left #center {border-left:1px solid #e0e0e0; margin:0 10px 0 150px;border-right:none}

/* 2 columns - sidebar-right */
body.sidebar-right #center {border-right:1px solid #e0e0e0;margin:0 150px 0 10px;border-left:none}

/*3 columns*/
body.sidebars #center{margin:0 150px;border-left:1px solid #e0e0e0; border-right:1px solid #e0e0e0}

/* Footer */
#footer {background:#fff; border-top:2px solid #e0e0e0; clear:both; color:gray; margin:0 auto; padding:10px 0; text-align:center; width:760px; line-height:1.5em; font-size:0.9em}
#footer p {margin:0; padding:0}
#footer a {background-color:#fff; color:gray; font-weight:400; text-decoration:none}
#footer a:hover {text-decoration:underline}
#footer span {font-size:1.2em}

/* Additional classes */
.left {float:left; margin:3px 10px 2px 0}
.right {float:right; margin:2px 0 2px 10px}
div#frontphoto {background:url(img/front.jpg);border:0; height:175px;margin:0 0 10px;clear:both}
.node .submitted {color:#888;font-size:0.8em}
#node-form{display:inline-block}

.node{margin-bottom:40px;clear:none}