/*
Original design: andreas00 (v2.2 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas00/
*/

/* Main layout and header */
body {background:url(img/bg.gif) repeat-y top center #eaeaea; color:#3a3a3a; font:76% Verdana,Tahoma,Arial,sans-serif; line-height:1.4em; margin:0 auto; padding:0}
#wrapper {background:#fff; color:#303030; margin:0 auto; padding:1px 5px; width:760px}
#header {background:url(img/front.jpg) no-repeat bottom left #fff; color:#505050; height:250px; margin:0 0 10px; padding:0}
#header h1 {font-size:2.5em; font-weight:400; letter-spacing:-2px; margin:0 0 15px 15px; padding:20px 0 0}
#header h1 a,#header h1 a:hover {font-weight:400; padding:0}
#header p {font-size:1.1em; letter-spacing:-1px; margin:0 0 20px 15px; padding:0 0 0 3px;font-weight:bold}
#header #logo{margin:1em;float:left;border:none;background:transparent}

/* Left sidebar and menu */
#sidebar-left {clear:left; float:left; margin:0 0 10px; padding:0; width:150px}
#sidebar-left #block-menu-primary-links ul {list-style:none; margin:0 0 18px; padding:0; width:150px}
#sidebar-left #block-menu-primary-links ul li {display:block; padding:0; width:150px}
#sidebar-left #block-menu-primary-links ul li a {display:block; background:url(img/menubg.gif) repeat-x bottom left #f4f4f4; 
	border-bottom:1px solid #d8d8d8; border-left:4px solid #ccc; 
	border-right:1px solid #d8d8d8; border-top:1px solid #d8d8d8; color:#505050; 
	/*float:left; */font-size:1em; font-weight:700; margin-bottom:5px; 
	padding:5px 1px 5px 5px; text-decoration:none; width:128px}
#sidebar-left #block-menu-primary-links ul li a:hover,#sidebar-left #block-menu-primary-links ul li a.current {background:url(img/menubg2.gif) repeat-x bottom left #eaeaea; border-bottom:1px solid #b0b0b0; border-left:4px solid #505050; border-right:1px solid #b0b0b0; border-top:1px solid #b0b0b0; color:#505050}
#sidebar-left #block-menu-primary-links ul ul {font-size:0.9em; margin:0 0 0 15px; padding:0 0 5px 0; width:133px}
#sidebar-left #block-menu-primary-links ul ul a {padding:3px 1px 3px 5px; width:123px}
#sidebar-left #block-menu-primary-links ul ul ul {font-size:1em; width:120px}
#sidebar-left #block-menu-primary-links ul ul ul a {width:108px}
#sidebar-left h2 {font-size:1.5em; font-weight:400}

/* Right sidebar */
#sidebar-right {float:right; margin:0 0 10px; padding:0; width:160px}
#sidebar-right p,#sidebar-right ul {font-size:0.9em; line-height:1.3em; margin:0 0 1.5em; padding:0}
#sidebar-right li {list-style:none; margin:0 0 6px; padding:0}
#sidebar-right h2 {font-size:1.5em; font-weight:400; letter-spacing:-1px; margin:0 0 6px}

/* Main center */
#center {line-height:1.5em; margin:10px 170px 10px 160px; padding:0; text-align:left}
#center h2{font-size:1.8em; font-weight:400; letter-spacing:-1px; margin:8px 0 10px; padding:0}
#center h3 {font-size:1.5em; font-weight:400; margin:6px 0; padding:0}
#center img{background:#ccc; border:4px solid #f0f0f0; color:#303030; display:inline; padding:1px; margin:0 10px 5px 0}
#center ul,#center ol{margin:0 0 16px 20px; padding:0}
#center ul ul,#center ol ol {margin:2px 0 2px 15px}
#center li{margin:0 0 2px 5px; padding:0 0 0 4px}

/* Footer */
#footer {background:#fff; border-top:2px solid #dadada; clear:both; color:#666; font-size:0.9em; margin:0 auto; padding:8px 0; text-align:center; width:760px}
#footer p {margin:0; padding:0}
#footer a {background:inherit; color:#666; font-weight:400; text-decoration:none}
#footer a:hover {text-decoration:underline}
#footer span {font-size:1.2em}

/* Links and paragraphs */
a {background:inherit; color:#166090; text-decoration:none; font-weight:700}
a:hover {background:inherit; color:#286ea0; text-decoration:underline}
a img {border:0}
p {margin:0 0 16px}
blockquote {background:url(img/menubg.gif) repeat-x bottom left #f4f4f4; border-bottom:1px solid #d8d8d8; border-left:4px solid #ccc; border-right:1px solid #d8d8d8; border-top:1px solid #d8d8d8; color:#505050; margin:16px; padding:7px 7px 7px 11px}
blockquote p {font-size:1.1em; line-height:1.3em; margin:0}

/* Tables and forms */
table {border:1px solid #d8d8d8; border-collapse:collapse; line-height:1.3em; width:95%; margin:0 0 16px; padding:0}
caption {font-size:1.5em; font-weight:400; margin:0; padding:6px 0 8px; text-align:left}
th {background:url(img/menubg2.gif) repeat-x bottom left #eaeaea; color:#505050; padding:7px; text-align:left}
td {background:url(img/menubg.gif) repeat-x bottom left #f4f4f4; color:#303030; font-size:0.9em; padding:7px; text-align:left}
input,textarea {border:1px solid #ccc; font-family:Verdana,Tahoma,Arial,Sans-Serif; font-size:1em; margin:0; padding:4px}
label {margin:2px 0 2px 0; font-size:1.2em}
input {width:150px}
textarea {width:400px}

#center{margin:0}
/* 2 columns - sidebar-left */
body.sidebar-left #center {margin:0 10px 0 180px}

/* 2 columns - sidebar-right */
body.sidebar-right #center {margin:0 180px 0 10px}

/*3 columns*/
body.sidebars #center{margin:0 180px}

/* Additional classes */
.announce h2 {margin:0 0 10px; padding:0}
.textright {margin:-10px 0 4px; text-align:right}
.center {text-align:center}
.small {font-size:0.8em}
.large {font-size:1.3em}
.red {color:red}
.green {color:green}
.blue {color:blue}
.highlighted {background:#f0f0f0; border:1px solid #b0b0b0; color:#303030; padding:3px}
.button {background:url(img/menubg.gif) repeat-x bottom left #f4f4f4; border-bottom:1px solid #d8d8d8; border-left:4px solid #ccc; border-right:1px solid #d8d8d8; border-top:1px solid #d8d8d8; color:#505050; font-weight:400; font-size:1.2em; margin:0 0 15px; padding:7px 7px 7px 11px; width:120px}
.left {float:left; margin:10px 10px 5px 0}
.right {float:right; margin:10px 0 5px 10px}
#sidebar-left .announce {background:url(img/menubg.gif) repeat-x bottom left #f4f4f4; border-bottom:1px solid #d8d8d8; border-left:4px solid #ccc; border-right:1px solid #d8d8d8; border-top:1px solid #d8d8d8; clear:left; color:#505050; line-height:1.3em; margin:10px 0; padding:5px 5px 5px; width:134px}
#sidebar-left p,.announce p {font-size:0.9em}
.node .submitted{color:#999;font-size:0.8em}
div.node-form div.standard{clear: none}