/*
Original design: andreas05 (v2.5 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas05/
*/

/* General tags */
* {margin:0; padding:0}
body {background:#cccccc url(bodybg.png) repeat; font:76% verdana,tahoma,sans-serif; color:#555555}
a {background-color:inherit; color:#286ea0; font-weight:bold; text-decoration:none}
a:hover {text-decoration:underline}
p {margin:0 0 16px 0}
ul, ol {margin:0 0 16px 15px; padding-left:5px}
ul ul, ol ol {margin:3px 0 0 15px}
img {float:left; margin:0 10px 5px 0}

/* Headers */
h1 {color:#555; font-size:3.6em; letter-spacing:-3px; margin:0; text-align:right}
h2 {font-size:1.6em; font-weight:normal; letter-spacing:-1px; margin:5px 0 10px}
h2,h2 a{color:#555}

/* IDs */
#header {margin:20px auto -9px; width:700px;text-transform:uppercase}
#header a{color:#555}
#container {background:#fff url(front.png) bottom left no-repeat; border:20px solid #555; color:#555; margin:0 auto 15px; padding:10px; width:700px; line-height:1.3em}
#sidebar-left {float:left; padding-left:175px; width:110px}
#sidebar-right {float:right; width:110px}
#sidebar p {margin:10px 0 5px 10px; text-align:left; font-size:0.8em}
#sidebar p a {font-weight:400}
#center {width:530px;margin-left:175px}
#footer {clear:both; color:#aaa;font-size:0.8em}
p#slogan{font-size:1.6em; font-weight:normal; letter-spacing:-1px;margin:0;padding:0;text-align:right;width:100%}

/* 2 columns - sidebar-left */
body.sidebar-left #center,body.sidebar-left #footer {width:385px;margin-left:300px}

/* 2 columns - sidebar-right */
body.sidebar-right #center,body.sidebar-right #footer {width:385px;margin-left:175px}

/*3 columns*/
body.sidebars #center,body.sidebars #footer{width:290px;margin-left:300px}

.node .submitted {color:#888;font-size:0.8em}