/*
Original design: andreas09 (v2.2 - July 07, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas09/
Adapted for Drupal 14 March 2009 by Nick Young - nickbits.co.uk
*/

/* Main tags */
body {background:#8b8b8b; color:#303030; font:76% Verdana,Tahoma,Arial,sans-serif; margin:0; padding:0; text-align:center}
a {color:#505050; font-weight:bold; text-decoration:none}
a:hover {color:#808080; text-decoration:underline}
p {line-height:1.5em; margin:0 0 15px}

/* Main container */
#wrapper {color:#303030; margin:0; min-width:770px; padding:0; text-align:left; width:100%}

/* Header section */
#header {color:#ffffff; height:92px; margin:0 20px 10px; text-align:left}
#header h1,#header p {font-weight:400; letter-spacing:-2px; margin:0; padding:0}
#header h1{font-size:2.4em; padding-top:20px}
#header p {font-size:1.6em}
#header a {color:#ffffff}
#header #logo{margin-top:2em;margin-right:2em;float:left}

/* Horizontal menu */
#nav {float:left; margin-bottom:25px}
#nav ul {font-size:16px; margin:0; padding:0}
#nav li {float:left; height:35px; list-style:none; margin:0; padding:0}
#nav a {border-right:1px solid #b0b0b0; color:#606060; display:block; font-size:0.7em; padding:11px 10px 10px; text-transform:uppercase}
#nav a:hover {color:#505050; text-decoration:none}
#nav a.active {color:#505050; text-decoration:none}

/* Content wrap */
#container {clear:both; font-size:0.9em; padding:0}

/* Sidebars */
.sidebar {margin:0; padding:0 10px 10px; width:165px}
#sidebar-left {margin-right:10px;float:left}
#sidebar-right {margin-left:10px;float:right}
.sidebar h2 {color:#505050; font-size:1.6em; font-weight:bold; letter-spacing:-1px; margin:0 0 12px}
.sidebar h3 {font-size:1.1em; margin:0 0 20px}
.sidebar p {font-size:0.9em; line-height:1.4em; margin:0 0 16px 10px}
.sidebar ul.menu li {background:#e8e9ea; border:1px solid #b0b0b0; color:#606060; display:block;margin:8px 0 0 0px; padding:2px; position:relative; text-transform:uppercase}
.sidebar ul.menu li:hover,.sidebar ul.menu li.active-trail {background:#f8f9fa; border:1px solid #909090; color:#303030; text-decoration:none}

/* Content */
#center{background-color:#fafcff; border:1px solid #909090; color:#2a2a2a; padding:15px 20px 5px}
#center h1,#center h2{background-color:inherit; color:#606060; font-size:1.8em; font-weight:bold; letter-spacing:-1px; margin:0 0 15px; padding:0}
#center h2 {font-size:1.6em; margin-bottom:10px}
#center img{border:1px solid #b0b0b0; float:left; margin:5px 15px 6px; padding:5px}

/* 2 columns - sidebar-left */
body.sidebar-left #center {margin:0 10px 0 200px}

/* 2 columns - sidebar-right */
body.sidebar-right #center {margin:0 200px 0 10px}

/*3 columns*/
body.sidebars #center{margin:0 200px}

/* Footer */
#footer {background:#8b8b8b url(andreas09/img/footerbg.jpg) top left repeat-x; clear:both; color:#d0d0d0; font-size:0.9em; font-weight:bold; margin:10px 0 0 0; padding:20px 0; text-align:center; width:100%}
#footer a {color:#d0d0d0; font-weight:bold}