/**
 * 11.ADMINISTRATION
 */



/* admin tab links */
ul.primary, ul.primary li, ul.secondary, ul.secondary li { background: none; border: 0; margin: 0; padding: 0}
ul.secondary { border-bottom: 1px solid #b4d7f0; margin: 0 0 1em; padding: .5em 0; text-align: left}
ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited { background: none; border: 0; margin: 0; padding: 0 1em 0 0; text-decoration: none}
ul.primary li.active a, ul.secondary li.active a { font-weight: 700}

/* position admin tab links and style admin h2 */
#tabs-wrapper { margin: 0; padding: 0;display:inline-block}
h2.with-tabs { margin-bottom: 0}
#tabs-wrapper ul.tabs { margin: 0 0 .5em; padding: 0}

div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu { margin: 0; padding: 0}
div.admin h3 { margin-bottom: 0}
div.admin .left { float: left; width: 48%}
div.admin .right { float: right; width: 48%}
div.admin-panel { background: none; padding: 1em 1em 1.5em; text-align:left}
div.admin-panel .description { margin-bottom: 1.5em}
div.admin-panel dl { margin: 0}
div.admin-panel dd { color: #898989; font-size: .92em; line-height: 1.3em; margin-bottom: .65em; margin-top: -.2em}

/**
 * 8.BLOCKS
 */
.block {margin: 0 0 10px}
.item-list .pager{margin-top:10px;clear:none}
div.profile{clear: none}