/*
Original design: andreas03 (v2.0 - Apr 24, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas03/
*/

/* General layout */
body {margin:0; padding:20px 0; font:76% tahoma,verdana,sans-serif; background:#047 url(img/bodybg.png) repeat-x fixed; color:#333}

/*optimize*/
#wrapper {width:522px; margin:0 auto; padding:20px 20px 0 20px; background:#fff url(img/contbg-none.png) no-repeat; color:#333}
body.sidebar-right #wrapper {width:720px; margin:0 auto; padding:20px 20px 0 20px; background:#fff url(img/contbg.png) no-repeat; color:#333}
body.sidebar-left #wrapper {width:720px; margin:0 auto; padding:20px 20px 0 20px; background:#fff url(img/contbg-left.png) no-repeat; color:#333}
body.sidebars #wrapper {width:920px; margin:0 auto; padding:20px 20px 0 20px; background:#fff url(img/contbg-left-right.png) no-repeat; color:#333}
/* Tags */
h1,h2,h3,h4 {margin:0 0 10px 0; font-weight:normal}
h1 {font-size:2.6em}
h2 {margin:0 0 4px 0; font-size:1.5em}
h3 {margin:20px 0 8px 0; font-size:1.3em}
h4 {margin:10px 0 5px 0; font-size:1.2em}
a {text-decoration:none; color:#26c}
a:hover {text-decoration:underline}
a img {border:0}
p {margin:0 0 15px 10px; line-height:1.5em}

/* Site title and header */
#header {float:left; width:240px; margin:0 20px 0 0; /*padding:0 0 30px 0;*/ background:#eee; border:4px solid #dde; text-align:center; color:#555; overflow:auto}
#header h1 {margin:30px 5px 5px 5px; letter-spacing:-2px;line-height:1em}
#header a {color:#26a; text-decoration:none}
#header a:hover {color:#69e}
#header #logo{margin:30px 5px 5px 5px;float:left;border:none;background:transparent}
#intro p {line-height:1.5em}
#header p {text-align:center; font-size:1.4em;line-height:1.5em}

/*center content */
#center{clear:both}
#center h2 {clear:left; display:block; margin:20px 0 10px 0; padding:5px 0 5px 8px; background:#eee url(img/gradient2.png) repeat-x; color:#444; border-top:1px solid #ddd; border-right:1px solid #bbb; border-bottom:1px solid #bbb; border-left:1px solid #ddd; text-decoration:none;}

/* Main content */
body.sidebar-right #container {float:left;margin-right:20px}
body.sidebar-left #container {float:right;margin-left:20px}
body.sidebars #container{float:left;margin: 0 40px;}
#container {width:530px; padding:0; line-height:1.3em}

/* Footer */
#footer{clear:both;margin:0 auto 10px auto; line-height:1.6em; padding:0 0 1px 0; font-size:1.1em; color:#777; text-align:center}
#footer{width:562px; background:#fff url(img/footerbg-none.png) bottom left no-repeat}
body.sidebar-left  #footer,body.sidebar-right  #footer {width:760px; background:#fff url(img/footerbg.png) bottom left no-repeat}
body.sidebars #footer{width:960px; background:#fff url(img/footerbg-left-right.png) bottom left no-repeat}

/* Sidebar */
#sidebar-right {float:right}
#sidebar-left {float:left}
.sidebar{width:155px; margin-top:20px; font-size:1em; line-height:1.3em}
.sidebar p{margin:0 0 15px 10px; padding:0}
.sidebar ul li {list-style:none; padding:0; margin:0 0 4px 0}
#block-menu-primary-links a {display:block; width:140px; margin:3px 10px 2px 0; padding:5px 0 5px 8px; font-size:1.2em; font-weight:400; text-align:left; background:#eee url(img/gradient1.png) repeat-x; color:#26c; border-top:1px solid #ddd; border-right:1px solid #bbb; border-bottom:1px solid #bbb; border-left:1px solid #ddd}
#block-menu-primary-links a:hover {background:#fff url(img/gradient2.png) repeat-x; color:#333; border-top:1px solid #ddd; border-right:1px solid #888; border-bottom:1px solid #888; border-left:1px solid #ddd; text-decoration:none}
#block-menu-primary-links ul li {list-style-image: none}
/* Additional classes */
.clear {clear:both}
.right{float:right}
.left{float:left}
.box {font-size:0.9em; line-height:1.4em; margin:5px auto 15px auto; padding:5px; color:#555; border-top:1px solid #ddd; border-right:1px solid #bbb; border-bottom:1px solid #bbb; border-left:1px solid #ddd}

/*meta formatting*/
.meta {text-transform: capitalize;font-size: .74em; font-weight: bold; margin: 0 5px 0 0; color: #ccc; font-style: normal}
#content .meta a {color: #000}
#content .meta a:before {content: "\00BB"}
.meta {background: #fff;border-bottom: 1px solid #ccc;margin:10px;padding: 0 10px}
.meta div.links {float: left}
.meta div.terms {float: right}
.meta div.links ul.links li {float: left}
.meta div.terms ul.links li {float: left}

/*node formatting*/
#content div.node  div.content p:first-child:first-line{font-weight: bold; font-style: italic; font-size: 1.1em; margin: 0 0 4px}
#content div.node  div.content p{padding-bottom:1em}

/* admin tab links */
ul.primary, ul.primary li, ul.secondary, ul.secondary li { background: none; border: 0; margin: 0; padding: 0}
ul.secondary { border-bottom: 1px solid #b4d7f0; margin: 0 0 1em; padding: .5em 0; text-align: left}
ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited, ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited { background: none; border: 0; margin: 0; padding: 0 1em 0 0; text-decoration: none}
ul.primary li.active a, ul.secondary li.active a { font-weight: 700}

/* position admin tab links and style admin h2 */
#tabs-wrapper { margin: 0; padding: 0;display:inline-block}
h2.with-tabs { margin-bottom: 0}
#tabs-wrapper ul.tabs { margin: 0 0 .5em; padding: 0}

div.admin-panel, div.admin-panel .description, div.admin-panel .body, div.admin, div.admin .left, div.admin .right, div.admin .expert-link, div.item-list, .menu { margin: 0; padding: 0}
div.admin h3 { margin-bottom: 0}
div.admin .left { float: left; width: 48%}
div.admin .right { float: right; width: 48%}
div.admin-panel { background: none; padding: 1em 1em 1.5em; text-align:left}
div.admin-panel .description { margin-bottom: 1.5em}
div.admin-panel dl { margin: 0}
div.admin-panel dd { color: #898989; font-size: .92em; line-height: 1.3em; margin-bottom: .65em; margin-top: -.2em}

.block {margin: 0 0 10px;color:#000}
div.submitted{text-align:right;font-size:0.75em;margin:0;width:100%}
.item-list ul.pager{clear:none}
.border{border:1px solid #333}