/*
Original design: andreas06 (v2.0 - Jul 07, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas06/
*/

/* General tags */
body {background:#e0e0e0 url(img/bodybg.gif) repeat-x; color:#505050; font:76% Georgia,Verdana,Tahoma,Arial,sans-serif; margin:0; padding:0; text-align:center}
p {line-height:1.5em; margin:0 0 15px}
a {color:#fa9035; font-weight:700; text-decoration:none}
a:hover {color:#d04a10}
hr {height:1px; margin:10px 0; width:98%}
dt {font-weight:700}
dd {margin:1px 0 12px 15px}

/* Main layout */
#wrapper {background:#c0c0c0 url(img/bodybg.gif) repeat-x; margin:0 auto; text-align:left; width:752px}

/*Header*/
#header {background:url(img/leaves.jpg) top center no-repeat; color:#ffffff; font-weight:400; height:80px; margin:0 20px 10px 0; text-align:center}
#header h1{font-size:2.2em; margin:0; padding-top:20px}
#header p {font-size:1.6em; letter-spacing:-1px; margin:0}
#header a{color:#fff}
#header #logo{margin:1em;float:left;border:none;background:transparent}

#breadcrumb,#mission {color:#808080; margin:0 0 4px; text-align:right}
#breadcrumb,#mission a {color:#d04a10}
#breadcrumb,#mission a:hover {text-decoration:underline}

/* Main menu */
#nav {background:url(img/greypx.gif) bottom left repeat-x; float:left; width:752px}
#nav ul {list-style:none; margin:0; padding:0}
#nav a {background:url(img/tabs.gif) no-repeat 100% 0; color:#808080; display:block; font-size:1.2em; letter-spacing:-1px; padding:7px 20px 4px 11px; text-decoration:none}
#nav a:hover {color:#505050}
#nav li {background:url(img/tabs.gif) no-repeat 0 0; float:left; margin:0 4px 0 0; padding:0 0 0 9px}
#nav .active {background:url(img/tabs.gif) no-repeat 0 -41px}
#nav .active a {background:url(img/tabs.gif) no-repeat 100% -41px; color:#303030; padding:7px 20px 5px 11px}

/* Sidebars */
#sidebar-left {float:left; margin:-15px 0 0; width:145px}
#sidebar-left h1 {font-size:1.4em; font-weight:400}
#sidebar-right {float:right; margin:40px 15px 20px 0; width:130px}
#sidebar-right h1 {font-size:1.4em; font-weight:400; margin:0 0 12px}
#sidebar-right p {font-size:0.9em; margin:2px 0 12px 10px}
#sidebar-right img {/*border:1px solid #fa9035; */margin:10px 0 5px 5px; padding:2px}

/* Wrap variations */
#container{background:#ffffff url(img/innerbg.gif) repeat-y; border-bottom:1px solid #808080; border-left:1px solid #808080; border-right:1px solid #808080; clear:both; padding:0; width:750px}
#container_wrapper {clear:both;background:url(img/header.jpg) top left no-repeat; padding:10px; width:730px}

/* Main center */
#center p {margin:8px 0 0 10px}
#center h1 {color:#505050; font-size:2em; font-weight:400; margin:15px 0 10px; padding:0}
#center h2 {color:#505050; font-size:1.5em; font-weight:400; margin:20px 0 10px; padding:0}
#center img {border:1px solid #fa9035; float:left; margin:5px 15px 6px}

/* Footer */
#footer {clear:both; color:#a0a0a0; font-size:0.9em; /*height:26px;*/margin-top:20px; padding:1px; text-align:right; width:730px}
#footer a {color:#a0a0a0; font-weight:400}
#footer a:hover {color:#a0a0a0; text-decoration:underline}

/* 2 columns - sidebar-left */
#center {margin:45px 10px 0 180px}
body.sidebar-left #center {margin:45px 10px 0 180px}
body.sidebar-right #center {margin:45px 160px 0 180px}

/*3 columns*/
body.sidebars #center{margin:45px 160px 0 180px}

#center .node span.submitted {font-size:0.8em;color:#999}
.right{float:right}
.left{float:left}
.border{border:1px solid #fa9035}
.noborder{border:none}