/*
Original design: andreas08 (v2.0 - Jul 07, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas08/
*/

/* Body and tag styles */
* {margin:0; padding:0}
body {font:76% Verdana,Tahoma,Arial,sans-serif; line-height:1.4em; text-align:center; color:#303030; background:#e8eaec}
a {color:#467aa7; font-weight:bold; text-decoration:none; background-color:inherit}
a:hover {color:#2a5a8a; text-decoration:none; background-color:inherit}
a img {border:none}
p {padding:0 0 1.6em 0}
p form {margin-top:0; margin-bottom:20px}
img.left,img.center,img.right {padding:4px; border:1px solid #a0a0a0}
img.left {float:left; margin:0 12px 5px 0}
img.center {display:block; margin:0 auto 5px auto}
img.right {float:right; margin:0 0 5px 12px}

/* Header and nav styles */
#wrapper {width:760px; margin:20px auto; padding:1px 0; text-align:left; background:#ffffff; color:#303030; border:2px solid #a0a0a0}

/* Header section */
#header {height:110px; width:758px; margin:0 1px 1px 1px; background:#467aa7; color:#ffffff}
#header h1 {padding:35px 0 0 20px; font-size:2.4em; background-color:inherit; color:#ffffff; letter-spacing:-2px; font-weight:normal}
#header p {margin:10px 0 0 40px; font-size:1.4em; background-color:inherit; color:#f0f2f4; letter-spacing:-1px; font-weight:normal}
#header #logo{margin:2em;;float:left}
#header a {color:#ffffff}

/* nav styles */
#nav {height:2.2em; line-height:2.2em; width:758px; margin:0 1px; background:#578bb8; color:#ffffff}
#nav li {float:left; list-style-type:none; border-right:1px solid #ffffff; white-space:nowrap}
#nav li a {display:block; padding:0 10px; font-size:0.8em; font-weight:normal; text-transform:uppercase; text-decoration:none; background-color:inherit; color: #ffffff}
* html #nav a {width:1%}
#nav .active,#nav li:hover {background:#80b0da; color:#ffffff; text-decoration:none}

/* center styles */
#center {font-size:0.9em; padding:20px 20px 10px 0}
#center h2 {display:block; margin:0 0 16px 0; font-size:1.7em; font-weight:normal; letter-spacing:-1px; color:#505050; background-color:inherit}
#center h2 a {font-weight:normal}
#center h3 {margin:0 0 5px 0; font-size:1.4em; letter-spacing:-1px}
#center a:hover,#subcenter a:hover {text-decoration:underline}
#center ul,#center ol {margin:0 5px 16px 35px}
#center dl {margin:0 5px 10px 25px}
#center dt {font-weight:bold; margin-bottom:5px}
#center dd {margin:0 0 10px 15px}

/* Sidebar styles */
#sidebar-left {float:left}
#sidebar-right {float:right}
.sidebar {font-size:0.9em;margin:0 10px;width:170px; padding:20px 0; line-height:1.4em}
.sidebar h2 {display:block; margin:0 0 15px 0; font-size:1.6em; font-weight:normal; text-align:left; letter-spacing:-1px; color:#505050; background-color:inherit}
.sidebar p {margin:0 0 16px 0; font-size:0.9em}

/* Menublock styles */
.sidebar ul.menu {margin:0 0 20px 0; font-size:0.9em}
.sidebar ul.menu li {list-style:none; display:block; padding:2px; margin-bottom:2px}
.sidebar ul.menu li a {font-weight:bold; text-decoration:none}
.sidebar ul.menu li a:hover {text-decoration:none}
.sidebar ul.menu li ul {margin:3px 0 3px 0; font-size:1em; font-weight:normal}
.sidebar ul.menu li ul li {margin-bottom:0}
.sidebar ul.menu li ul a {font-weight:normal}

/* Footer styles */
#footer {clear:both; width:758px; padding:5px 0; margin:0 1px; font-size:0.9em; color:#f0f0f0; background:#467aa7;text-align:center}
#footer p {padding:0; margin:0; text-align:center}
#footer a {color:#f0f0f0; background-color:inherit; font-weight:bold}
#footer a:hover {color:#ffffff; background-color:inherit; text-decoration: underline}
 
 /*Admin Panel Overrides*/
div.admin .right ,div.admin .left { width: 100%}

/* 2 columns - sidebar-left */
body.sidebar-left #center {margin:0 10px 0 200px}
/* 2 columns - sidebar-right */
body.sidebar-right #center {margin:0 200px 0 10px}

/*3 columns*/
body.sidebars #center{margin:0 200px}
.box {margin:0 0 20px 0; padding:10px; border:1px solid #c0c0c0; background-color:#fafbfc; color:#505050; line-height:1.5em}

.right{float:right}
.left{float:left}
.border{border:1px solid #a0a0a0}
.noborder{border:none}