/*
Original design: andreas07 (v2.0 - Jul 07, 2008) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/andreas07/
*/

/* Main tags */
body {margin:0; padding:0; color:#404040; background:#fafafa url(img/bodybg.gif) top left repeat-y; font:76% Verdana,Tahoma,sans-serif}
ul {margin:5px 0 16px 5px; padding:0}
li {margin:0 0 8px 15px; padding:0; }
img {margin:10px auto 16px auto; padding:1px; background:#ffffff; border:1px solid #d0d0d0}
a {color:#d85d5d; font-weight:bold; text-decoration:none}
a:hover {color:#505050; text-decoration:underline}
a img {border-color:#d85d5d}
a img:hover {background:#d85d5d; border-color:#d85d5d}

/* Wrapper */
#wrapper {width: 990px;position:relative}

/* Left sidebar */
#header,#sidebar-left,#nav {width:220px; background:#e0e0e0 url(img/sidebarbg.gif) top right repeat-y; text-align:right; float:left}
#sidebar-left{clear:left;margin-top:10px}
#sidebar-left h1 {margin:20px 18px 0 5px; color:#d85d5d; font-size:1.6em; letter-spacing:-2px; text-align:right}
#sidebar-left h2, #sidebar-left h3 {margin:0 20px 18px 5px; color:#808080; font-size:1.1em; font-weight:bold; letter-spacing:-1px; text-align:right}
#sidebar-left h3 {margin:20px 18px 4px 5px; color:#606060}
#sidebar-left p {margin:0 20px 18px 5px; color:#606060; font-size:0.8em}
#sidebar-left a {color:#808080}
#sidebar-left ul{text-align:right}

/* Right sidebar */
#sidebar-right {width:200px; float:right; color:#666}
#sidebar-right h2, #sidebar-right h3 {margin:10px 0 12px 0; color:#606060; font-size:1.6em; font-weight:400; letter-spacing:-1px; text-align:center; border-bottom:2px solid #b0b0b0}
#sidebar-right p {line-height:1.4em; margin: 0 0 15px 0}

/* center area */
#footer,#center {text-align:left;width:520px; margin:0 0 0 240px; padding:10px 0; background:#fafafa}
#footer p,#center p {margin:0 0 16px 0; line-height:1.5em}
#center h1 {margin:0; color:#d85d5d; font-size:3.6em; letter-spacing:-4px}
#center h2 {margin:0; color:#808080; font-weight:normal; font-size:2em; letter-spacing:-2px}
#center h3 {margin:20px 0 10px 0; color:#d85d5d; font-weight:normal; font-size: 2em; letter-spacing:-2px}

/*  Header */
#header h1{margin:0.5em 0 0 0}
#header p{margin:0; color:#808080; font-size:1.1em; font-weight:bold; letter-spacing:-1px; }
#header #logo{margin:1em;float:right;border:none;background:transparent}
#nav {clear:left}
#sidebar-right{position:absolute;top:0;right:0}
/* Navigation nav */
#nav a {display:block; width:202px; padding:5px 18px 5px 0; color:#606060; background:#e0e0e0 url(img/sidebarbg.gif) top right repeat-y; font-size:1.6em; font-weight:normal; text-decoration:none; letter-spacing:-1px}
#nav a:hover {color:#303030; background:#f0f0f0 url(img/sidebarbg.gif) top right repeat-y}
#nav a.active {padding:5px 18px 5px 0; background:#fafafa; border-top:2px solid #c0c0c0; border-bottom:2px solid #c0c0c0}
#nav a.active:hover {color:#505050; background:#fafafa}

#container {clear:none}
.node span.submitted{font-size:0.8em;color:#999}
#center div.clear-block{display:inline-block}